@font-face {
    font-family: 'Unibody8ProRegular';
    src: url('unibody8pro-regular.eot');
    src: url('unibody8pro-regular.eot') format('embedded-opentype'),
         url('unibody8pro-regular.woff') format('woff'),
         url('unibody8pro-regular.ttf') format('truetype'),
         url('unibody8pro-regular.svg#Unibody8ProRegular') format('svg');
}
