<div class="container">
  <div class="user-details">
    <h3> Featured Member Projects </h3>
  </div>
  {% for project in site.projects %}
    {% if project.featured == true %}
      <div class="row user-projects">
        <div class="six columns images">
          <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
        </div>
        <div class="six columns">
          <h5> {{project.title}} </h5>
          <li> Featured Skills </li>
          <p> {{project.abstract}} </p>
          <a class="project-link" href="#">Read More</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
