<div class="container">
  test {{ include.all }}
  <div class="user-details">
    <h3><a href="{{ '/pages/project-toc.html' | prepend: site.baseurl }}">Featured Member Projects</a></h3>
  </div>
  {% for project in site.projects %}
    {% if project.featured == true or include.all == true %}
      <div class="row user-projects">
        <div class="six columns images">
          <img alt="mountains" src="{{ '/assets/img/mountains.jpg' | prepend: site.baseurl }}" />
        </div>
        <div class="six columns">
          <h5> <a href="{{ project.url }}">{{ project.title }}</a> </h5>
          {% if project.keywords %}
            <div> 
              <small> 
                {% for key in project.keywords %} 
                  <a href="">{{ key }}</a>
                {% endfor %}
              </small>
            </div>
          {% endif %}
          {% if project.abstract %}
            {{ project.abstract }}
          {% else %}
            {{ project.excerpt }}
          {% endif %}
          <a class="project-link" href="{{ project.url }}">Read More</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
