<div id="particles-js">
	<div class="hero" id="hero">
		<img class="site-title" src="{{ site.github.url }}/assets/img/rhl_sticker_stacked.png" alt="{{site.username}}">
		<h1>
			<span class="site-description">{{site.user_title}}</span>
		</h1>
		<div>
			<a class="link" href="#about" data-scroll>About</a>
			<a class="link" href="#projects" data-scroll>Projects</a>
		</div>
	<a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
	
	</div>
	<canvas class="particles-js-canvas-el"></canvas>
</div>
