<article>
	<div class="w3-col w3-margin-bottom">
		<div class="w3-light-grey">
			<!-- <img src="/w3images/team2.jpg" alt="John" style="width:100%"> -->
			<div class="w3-container">
				<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
				<p>
					{{ .Summary }}
					{{ if .Truncated }}
					</p><p><a href="{{ .Permalink }}">Read more...</a>
					{{ end }}
				</p>
				<div class="w3-section">
					<time>{{ .Date.Format "January 02, 2006" }}</time>
					<br>
					{{ range .Params.tags }}
					<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</article>