<article>
	<div class="">
		<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
		<div class="row user-projects">
			<div class="six columns images">
				{{ if .Params.thumbnail }}
					<a href="{{ .Permalink }}"><img alt="Photo of {{ .Params.title }}" src="{{ .Permalink }}{{.Params.thumbnail }}" /></a>
				{{ else }}
					<a href="{{ .Permalink }}"><img alt="" src="/assets/img/bug.svg" /></a>
				{{ end }}
			</div>
			<div class="six columns">
					<p>{{ .Summary }}</p>

					{{ if .Truncated }}
					</p><p><a href="{{ .Permalink }}">Read more...</a>
					{{ end }}
			</div>
		</div>
	</div>
</article>