<!-- 
This file can be used at http://www.meetup.com/meetup_api/foundry/ 
to create a widget for the website 
-->

<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script src="local.js"></script>
	<script src="api_key.js"></script>
	<script id="config" type="text/javascript" charset="utf-8">
		var $parameters = {
			urlname: "Rogue-Hack-Lab",
			width: 350,
			height:570,
			_name: "Meetup Group Stats",
			_description: "Shows basic stats on your favorite Meetup group."
		};
		var $queries = {
			groups: function() {
				return mup_widget.api_call("/2/groups", {group_urlname: $parameters.urlname});
			},
			events: function() {
				return mup_widget.api_call("/2/events", {group_urlname: $parameters.urlname, page: '4'});
			}
		};
	</script>
	<script type="text/javascript" charset="utf-8">
		mup_widget.with_jquery(function($, ctx) {
			var	group = '',
			months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
			weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],

			addLink = function(content, link) {
				return '<a target="_top" href="' + link + '">' + content + '</a>';
			},

			addLeadingZero = function( num ) {
				return (num < 10) ? ('0' + num) : num;
			},
			getFormattedDate = function( millis ) {
				var date = new Date( millis );
				return  weekday[date.getDay()] + ' ' + months[date.getMonth()] + ' ' + addLeadingZero( date.getDate() ) + ', ' + date.getFullYear().toString();
			},
			getFormattedTime = function( millis ) {
				var	time = new Date( millis ),
				hours = time.getHours(),
				min = time.getMinutes(),
				ampm = (hours > 11) ? 'PM' : 'AM';
				min = (min < 10) ? ('0' + min) : min;
				hours = (hours == 0) ? 1 : hours;
				hours = (hours > 12) ? hours-12 : hours;
				return hours + ':' + min + ' ' + ampm;
			};
			$.getJSON($queries.groups(), function(data) {
				if (data.results.length == 0) {
					$('.mug-badge', ctx).append(
						'<div class="mup-widget error">\
							<div class="errorMsg">Oops. No results for "' + $parameters.urlname + '"</div>\
						</div>'
					);
				}
				else {
					group = data.results[0];
					

					$.getJSON($queries.events(), function(data) {
						if (data.status && data.status.match(/^200/) == null) {
							alert(data.status + ": " + data.details);
						} else {
							if (data.results.length == 0) {
								$('.mug-badge', ctx).append('<span class="mup-tlabel">'+addLink('Suggest new ideas for Meetups!',group.link)+'</span>');
							} else {
								for (var i = 0; i < data.results.length; i++) {

									var event = data.results[i];
									console.log(event);
									var venue = event.venue;
									console.log(venue);
									var city;
									if (!venue || !venue.city) {
										city = group.city;
									} else {
										city = venue.city;
									}
									var state_country;
									if (!venue || !venue.state) {
										if (group.state == "") {
											state_country = group.country.toUpperCase();
										} else {
											state_country = group.state;
										}
									} else {
										state_country = venue.state;
									}
									var venue_addr;
									if (venue) {
										if (venue.name !== undefined) {
											venue_addr = venue.name  + " - ";
										} else if (venue.address_1 !== undefined) {
											venue_addr = venue.address_1 + " - ";
										} else {
											venue_addr = "";
										}
									} else {
										venue_addr = "";
									}
									var location = venue_addr + city + ", " + state_country;
									$('.mug-badge', ctx).append('<div class="mup-event"><div class="mup-title">'+ addLink(event.name, event.event_url)+'</div><div class="mup-dt">'+getFormattedDate(event.time) + '   |   ' + getFormattedTime(event.time) + "</div>"+'<div class="mup-loc">' + location + "</div></div>");
								};
							}
						}
					});
}
});
});
</script>
</head>
<body class="framed-mup-widget">
	<div class="mug-badge"></div>
</body>
</html>
