<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
	<div class="w3-padding w3-container">
		<a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-green w3-margin-right w3-hide-large w3-display-topleft">☓</a>
	</div>
	<div class="w3-container">
		<a href="/" style="text-decoration: none">
			<h4 class="w3-padding-16 w3-hide"><b>{{ .Site.Title }}</b></h4>
		</a>
	</div>
	<div class="w3-bar-block">
		{{ $currentPage := . }}
		{{ range .Site.Menus.main }}
		{{ if .HasChildren }}
		<a class="w3-bar-item w3-button w3-hover-green {{ if $currentPage.HasMenuCurrent "main" . }}w3-text-grey{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
		<div>
			{{ range .Children }}
			<a class="w3-margin-left w3-bar-item w3-button w3-hover-green sub-bar-item {{ if $currentPage.IsMenuCurrent "main" . }}w3-text-grey{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
			{{ end }}
		</div>
		{{ else }}
		<a class="w3-bar-item w3-button w3-hover-green {{ if $currentPage.HasMenuCurrent "main" . }}w3-text-grey{{ end }}" href="{{ .URL }}">
			{{ .Name }}
		</a>
		{{ end }}
		{{ end }}
	</div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3 w3-padding w3-green w3-responsive">
	<a href="javascript:void(0)" class="w3-button w3-white w3-margin-right" onclick="w3_open()">☰</a>
	<span>{{ .Site.Title }}</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
